@import "../../globals";
@import "./_config";

.root {
  position: absolute;
  z-index: 1;
  display: flex;
  width: 100vw;
  height: $header-height;
  align-items: center;
  padding: 0 $offset;
  color: white;
}

.brand {
  display: flex;
  align-items: center;
  margin: 0 $unit;
  color: white;
}

.logo {
  width: $header-logo-size;
}

.title {
  margin-left: $unit;
  font-weight: $font-weight-bold;
}

.menu {
  flex-grow: 1;
}

.menu, .session {
  display: flex;
  justify-content: flex-end;
  line-height: $header-link-height;
  opacity: $color-opacity;
  & > a {
    margin: 0 (2 * $unit);
    font-weight: $font-weight-bold;
    color: white;
  }
}
