@import "../../globals";
$header-logo-size: 5.4 * $unit;
$header-link-height: $header-height / 2;

.root {
  position: absolute;
  z-index: 1;
  display: flex;
  width: 100vw;
  height: $header-height;
  color: white;
  .wrapper {
    display: flex;
    align-items: center;
  }
}

.brand {
  display: flex;
  align-items: center;
  color: white;
}

.logo {
  width: $header-logo-size;
}

.title {
  margin-left: $unit;
  font-weight: $font-weight-bold;
}

.menu {
  flex-grow: 1;
}

.menu, .session {
  display: flex;
  justify-content: flex-end;
  line-height: $header-link-height;
  opacity: $color-opacity;
  & > a {
    margin-left: 2 * $offset;
    font-weight: $font-weight-bold;
    color: white;
  }
}
