@import "../../globals";

.root {
  display: flex;
  justify-content: center;
  padding: $offset 0;
}

.item {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  padding: $offset;
  margin: $offset;
  text-align: center;
  background-color: $grey;
  color: $white;
  width: 20vw;
  height: 45vh;
  > label {
    font-weight: $font-weight-bold;
  }
  > strong {
    flex-grow: 1;
    font-size: (12.8 * $unit);
    display: flex;
    align-items: center;
    > small {
      font-size: 25%;
      margin-left: -$offset;
      opacity: $color-opacity;
    }
  }
  > button {
    width: 100%;
  }
}
