@import "../../globals";

$landing-background-color: #ccc;
$landing-height: 100vh;

.root {
  display: flex;
  min-height: $landing-height;
  align-content: center;
  align-items: center;
  justify-content: center;
  padding: $unit * 6.4;
  color: WHITE;
  text-align: center;
  background: $background-header;
  background-color: $landing-background-color;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  > * {
    margin-bottom: (3.2 * $unit);
  }
}

.title {
  margin-top: (3.2 * $unit);
  font-size: 5.6 * $unit;
  font-weight: $font-weight-bold;
  line-height: 120%;
}

.description {
  opacity: $color-opacity;
}

.button {
  background-color: $accent;
  > * {
    display: block;
  }
  > strong {
    font-size: $font-size-normal;
    font-weight: $font-weight-bold;
  }
  > small {
    opacity: $color-opacity;
  }
}
