@import "../../globals";
$header-height: 50vh;

.header {
  display: flex;
  height: $header-height;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  color: $white;
  text-align: center;
  background: $background-header;
}

.particles {
  height: $header-height;
}

.title {
}

.description {
  color: $color-opacity;
}
