// -- Sizes
$unit: 1rem;
$offset: 1.6 * $unit;
// -- Font
$font-size-tiny: 1.2 * $unit;
$font-size-small: 1.4 * $unit;
$font-size-normal: 1.6 * $unit;
$font-size-large: 2 * $unit;
$font-weight-bold: 700;
// -- Colors
$theme: #E62828;
