<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Signika:300,400,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/stylesheet/lessons.io.app.css">
  </head>
<body>
  <div id='app'>
    {{{ markup }}}
  </div>
  <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
  <script src="https://checkout.stripe.com/checkout.js"></script>
  <script src="/script/lessons.io.app.js"></script>
</body>
</html>
