<h1>Thanks for your subscription to {{settings.name}}</h1>
<h2 class="ghost">Below you will find your account information</h2>
<hr/>
<p>Hi!</p>
<p>
  bla, bla, bla...
</p>
<p>Sincerely,</p>
<a href="{{host}}"><strong>{{settings.name}}</strong></a>
