@import "../../globals";
$title-background-color: #ccc;

.root {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  color: WHITE;
  text-align: center;
  background: $background-header;
  background-color: $title-background-color;
  overflow: hidden;
  padding: ($header-height + $offset) 0 ($header-height) 0;
}

.caption {
}

.description {
  opacity: $color-opacity;
}
